<p>header works!</p>
<!--
<mat-toolbar color="primary" class="navbar">
    <nav class="navbar navbar-inverse"> 
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a routerLink="/create"> create</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </nav>
    </mat-toolbar>

    <button mat-raised-button>hello there</button>-->


    <nav class="navbar navbar-inverse">
        <div class="=container>
            <h2>This is samruddhi's application</h2>
            <p>Hi there welcome to samruddhi's..</p>
        </div>
        </nav>
        